{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
{#    <style>#}
{#      body {#}
{#          background: #3c68ff url('../../static/img/3.jpg') no-repeat;#}
{#          background-size: 100%;#}
{#      }#}
{#    </style>#}
    <title>Розвиток клінічних досліджень в Україні</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/navbar-static-top.css" rel="stylesheet">
  </head>
  <body>

            <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <form class="navbar-form navbar-left">
                <input type="text" placeholder="Email" class="form-control">
                <input type="password" placeholder="Пароль" class="form-control">
                <button type="submit" class="btn btn-success">Вхід</button>
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Пошук...">
                <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
