    <div class="container">
{#    <nav class="navbar navbar-default navbar-fixed-top">#}
{#        <div class="container-fluid">#}
{#          <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#              <span class="sr-only">Toggle navigation</span>#}
{#              <span class="icon-bar"></span>#}
{#              <span class="icon-bar"></span>#}
{#              <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="{% url 'index' %}" title="Always to the greetings page!">Clinicaltrials</a>#}
{#          </div>#}
{#          <div>#}
{#              {% if user.is_authenticated %}#}
{#                <li><a href="{% url 'users:logout' %}">Logout</a></li>#}
{#                <li role="presentation" {% if '/profile' in request.path %}class="active"{% endif %}><a href="{% url 'users:profile' slug=user.username %}">{{ user.username }}</a></li>#}
{#              {% else %}#}
{#                <li><a href="{% url 'users:userprofiles_registration' %}">Register</a></li>#}
{#                <li ><a href="{% url 'users:login' %}">Login</a></li>#}
{#              {% endif %}#}
{#          </div>#}
{#          <div id="navbar" class="navbar-collapse collapse">#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#              <li role="presentation" {% if '/study' in request.path %}class="active"{% endif %}><a href="{% url 'study:study' %}">Studies</a></li>#}
{#              <li role="presentation" {% if '/about' in request.path %}class="active"{% endif %}><a href="#">Additional Info</a></li>#}
{#            </ul>#}
{#            <form class="navbar-form navbar-right">#}
{#              {% csrf_token %}#}
{#              <input type="text" class="form-control" placeholder="Search...">#}
{#            </form>#}
{#          </div>#}
{#        </div>#}
{#    </nav>#}
{#</div>#}


      <div class="jumbotron" style="background-color: #ffc35c;">
        <div class="row">
          <div class="col-md-6">
            <h1 style="text-align: center;">Clinicaltrials</h1>
            <h2 style="text-align: center;">in Ukraine</h2>
          </div>
          <div class="col-md-6">
            <a href="{% url 'study:study' %}"><button type="button" class="btn btn-primary btn-lg btn-block">General information</button></a>
            <br>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg btn-block">Study</button></a>
          </div>
        </div>
      </div>