{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Welcome!{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
              <h2 style="text-align: center; text-decoration: underline;">Ідентифікатор клінічного дослідження</h2>
                <br>
              {% include 'includes/navtabs.html'%}
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Константа</th>
                    <th>Відповідь</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Розділ медицини</td>
                    <td>Гематологія‎</td>
                  </tr>
                  <tr>
                    <td>Назва захворювання</td>
                    <td>Справжня Поліцитемія</td>
                  </tr>
                  <tr>
                    <td>Детальний опис</td>
                    <td>Це клінічне дослідженні III фази без контрольної групи, що проводиться у пацієнтів,
                        які завершили AOP2014 групу у PROUD-PV дослідженні або на даний час беруть участь у
                        CONTINUATION-PV дослідженні. Після підписання форми інформованої згоди (ICF), близько
                        30 пацієнтів будуть послідовно зараховані у дослідження на базі відповідних
                        дослідницьких центрів згідно критеріям включення та виключення.</td>
                  </tr>
                  <tr>
                    <td>Фаза</td>
                    <td>ІІІ</td>
                    </tr>
                  <tr>
                    <td>Мета клінічного дослідження</td>
                    <td> 	Справжня поліцитемія (PV) - це захворювання стовбурових клітин кісткового мозку,
                        що проявляється у різкому збільшенні еритроцитів і часто також лейкоцитів. "Згущення"
                        крові у зв'язку зі зміненою функцією клітини має декілька наслідків, такі як: підвищення
                        артеріального тиску, свербіж шкіри, стомлюваність, порушення кровообігу у головному
                        мозку, а також пальців рук та ніг, підвищення ризику артеріальних та венозних тромбозів
                        (тромбоз - це утворення згустку крові у судині), таких як інсульт, інфаркт міокарда,
                        тромбоз глибоких вен на ногах. У разі сильного підвищення тромбоцитів існує додатковий
                        ризик кровотеч. По мірі розвитку хвороби розміри печінки та селезінки збільшені
                        в більшості випадків, також кістковий мозок показує ознаки фіброзу. У деяких випадках
                        PV може відбуватися прогресування в більш пізній момент часу до лейкозу
                        (посилене утворення білих кров'яних клітин).</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <a href="{% url 'study:study' %}"><h5>До списку досліджень</h5></a>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
{% endblock %}