{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Welcome!{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
              <h2 style="text-align: center; text-decoration: underline;">Ідентифікатор клінічного дослідження</h2>
                <br>
              {% include 'includes/navtabs.html'%}
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Константа</th>
                    <th>Відповідь</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Вік</td>
                    <td>Від 18 до 99 років</td>
                  </tr>
                  <tr>
                    <td>Стать</td>
                    <td>Чоловік та жінка</td>
                  </tr>
                  <tr>
                    <td>Залучення здорових добровольців</td>
                    <td>Ні‎</td>
                  </tr>
                  <tr>
                    <td>Критерії включення</td>
                    <td>1. Пацієнти, які або завершили 12 місячну групу лікування препаратом AOP2014 у PROUD-PV дослідженні , або на даний час беруть участь у CONTINUATION-PV дослідженні, та у "ВзТ візит" (Візит закінчення лікування) PROUD-PV дослідження або два тижні після останнього оціночного візиту CONTINUATION-PV дослідження, відповідають хоча б одному з таких критеріїв:
• Нормалізації як мінімум двох з трьох основних параметрів крові (НСТ (Гематокрит), PLTs (тромбоцити) і WBCs (лейкоцитів - білих клітин крові), якщо ці параметри були помірно підвищені (Hct<50%, WBCs<20 x 109/L, PLTs<600 x 109/L), на візиті включення PROUD-PV дослідження, або
• >35% зниження не менше двох з трьох основних параметрів крові (Hct, PLTs та WBCs), якщо ці параметри були істотно збільшені (Hct>50%, WBCs>20 x 109/L, PLTs >600 x 109/L), на візиті включення PROUD-PV дослідження, або
• Нормалізація розмірів селезінки, якщо селезінка була збільшена, на візиті включення PROUD-PV дослідження, або
• В інших випадках чіткої, клінічно перевіреної користі від лікування препаратом AOP2014 (наприклад, нормалізація захворювання, пов'язаного з мікро-vasculatory симптомів, значного зниження алельних навантажень гену JAK2 (Янус-киназа 2)).
2. Підписана інформована згода.‎</td>
                  </tr>
                  <tr>
                    <td>Критерії виключення</td>
                    <td> 	Критерії виключення, зазначені у PROUD-PV та у CONTINUATION-PV дослідженнях, які передбачають припинення лікування:
• Невідновлення від AOP2014-пов’язаною токсичністю для класу (як правило, клас I), яке дозволяє продовження лікування.
• HADS (Госпітальна шкала тривоги і депресії) результат 11 і вище на одній або обох підшкал, та /або розвитку або погіршення перебігу клінічно вираженої депресії або суїцидальних думок.
• Прогресивні та клінічно значущі підвищення рівня ферментів печінки, незважаючи на зниження дози, або якщо таке підвищення супроводжується підвищенням рівня білірубіну, будь-яких ознак або симптомів клінічно значущого аутоімунного захворювання.
• Клінічно значущій розвиток під час дослідження нової офтальмологічної патології або загострення раніше існуючої.
• Втрати ефективності препарату AOP2014 або будь-якої аналогічній ситуації, де дослідником не очікуються ніякі більше переваги продовження лікування.‎</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <a href="{% url 'study:study' %}"><h5>До списку досліджень</h5></a>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
{% endblock %}