{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Welcome!{% endblock %}
{% block content %}
    <div class="container">
    {% include 'includes/main_navbar.html'%}

{#      <div class="row" style="padding-right: 15px;">#}
{#        <div class="col-md-6">#}
{#          <form class="navbar-form navbar-left">#}
{#            <input type="text" placeholder="Email" class="form-control">#}
{#            <input type="password" placeholder="Password" class="form-control">#}
{#            <button type="submit" class="btn btn-success">Sign in</button>#}
{#          </form>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#          <form class="navbar-form navbar-right">#}
{#            <input type="text" class="form-control" placeholder="Search...">#}
{#            <button type="button" class="btn btn-info" aria-label="Left Align">#}
{#              <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>#}
{#            </button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
      <!-- Main component for a primary marketing message or call to action -->
{#      <div class="jumbotron" style="background-color: #ffc35c;">#}
{#        <div class="row">#}
{#          <div class="col-md-6">#}
{#            <h1 style="text-align: center;">Clinicaltrials</h1>#}
{#          </div>#}
{#          <div class="col-md-6">#}
{#            <a href="{% url 'study:study' %}"><button type="button" class="btn btn-primary btn-lg btn-block">Study</button></a>#}
{#            <br>#}
{#            <a href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg btn-block">General information</button></a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="jumbotron" style="background-color: #ffdf7e;">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-muted">Фільтри:</h3>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control">
                  <option value="Розділ медицини">Розділ медицини</option>
                  <option value="Андрологія">Гематологія</option>
{#                {%for condition in conditions %}#}
{#                    <option value="light">{{ condition.name }}</option>#}
{#                {% endfor %}#}
            </select>
          </div>
          <div class="col-xs-3">
            <select class="form-control">
              <option selected value="Назва захворювання">Назва захворювання</option>
              <option value="Поліцитемія Вера">Справжня поліцитемія</option>
{#                {%for t_area in therapeutic_areas %}#}
{#                    <option value="light">{{ t_area.name }}</option>#}
{#                {% endfor %}#}
            </select>
          </div>
          <div class="col-xs-3">
            <select class="form-control">
              <option selected value="Статус дослідження">Статус дослідження</option>
              <option value="Набір відкрито">Набір відкрито</option>
              <option value="Набір завершено">Набір завершено</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select class="form-control">
              <option selected value="Місто">Місто</option>
              <option value="Дніпро">Дніпро</option>
                <option value="Київ">Київ</option>
            </select>
          </div>
        </div>
        <hr>
      <table class="table table-striped" style="border: 1px solid #399;">
        <thead>
          <tr>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">№</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Назва захворювання</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Розділ медицини</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Статус клінічного дослідження</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Код клінічного дослідження (надається спонсором)</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Фаза</th>
            <th style="vertical-align: middle; text-align: center; border: 1px solid #399;">Перелік міст</th>
          </tr>
        </thead>
         <tbody>
            <tr style="background-color: #ffdf7e;">
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">1</a>
                </td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">Справжня поліцитемія</a>
                </td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">Гематологія</a></td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">Набір відкрито</a></td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">PEN-PV</a></td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">III</a></td>
                <td style="vertical-align: middle; text-align: center; border: 1px solid #399;">
                    <a href="{% url 'study:basic_information' %}">Дніпро</a></td>
            </tr>
{#          {% for study in study_descriptions %}#}
{#          <tr>#}
{#            <td style="text-align: center;">{{ forloop.counter}}</td>#}
{#            <td style="text-align: center;">{{ study.sponsor_protocol_number }}</td>#}
{#            <td style="text-align: center;">{{ study.clinical_trials_com_ua_identifier }}</td>#}
{#          {% endfor %}#}
{#          {% for sponsor in sponsors %}#}
{#            <td style="text-align: center;">{{ sponsor.name }}</td>#}
{#          {% endfor %}#}
{#          {% for study in study_descriptions %}#}
{#            <td style="text-align: center;">{{ study.conduct_company_in_ukraine }}</td>#}
{#          </tr>#}
{#          {% endfor %}#}
        </tbody>
      </table>
    </div>
          </div>
        </div>
{#      </div>#}
{#      </div>#}
    <!-- /container -->
{% endblock %}