<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ідентифікатор</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>
  <body style="background-color: #ffdf7e;">
      <div class="jumbotron" style="background-color: #ffdf7e;">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <a href="{% url 'index' %}"><p>До списку досліджень</p></a>
              <table class="table table-striped" style="border: 1px solid #399;">
                <thead>
                  <tr>
                    <th colspan="2" style="vertical-align: middle; text-align: center; border: 1px solid #399;">Ідентифікатор клінічного дослідження</th>
                  </tr>
                </thead>
                 <tbody>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Код клінічного дослідження (надається Спонсором)</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">PEN-PV</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">СlinicalTrials.com.ua ідентифікатор</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">1-2015</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">ClinicalTrials.gov ідентифікатор</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">NCT02523638</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Затвердження клінічного дослідження на території України згідно «Наказу МОЗ України "Про проведення клінічного дослідження лікарського засобу та затвердження суттєвої поправки"»</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Наказ №300 від 22.05.2015 </td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Спонсор, країна</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;"> 	"Ей Оу Пі Орфан Фармасьютикалз АГ", Австрія</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Компанія, яка контролює проведення клінічного дослідження в Україні</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">ТОВ "ПІ ЕС АЙ-Україна"</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Запланована кількість пацієнтів (здорових добровольців), в цілому</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">30</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Запланована кількість пацієнтів (здорових добровольців) в Україні, за даними МОЗ України</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">8</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Дата початку набору пацієнтів (здорових добровольців) на території України </td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">5/22/2015</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Статус клінічного дослідження</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Дане клінічне дослідження завершено</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Дата завершення клінічного дослідження</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Грудень 2015</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Останнє оновлення інформації об клінічному випробуванні на сайті СlinicalTrials.com.ua</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">16 Лютого 2016</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td colspan="2" style="vertical-align: middle; text-align: center; border: 1px solid #399;">Базова інформація про клінічне дослідження</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Розділ медицини</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Гематологія‎</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Назва захворювання</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Справжня Поліцитемія</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Назва клінічного дослідження, версія та дата</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">"Відкрите дослідження III фази, що проводиться в одній групі пацієнтів з метою оцінки самостійного введення препарату AOP2014 з використанням попередньо наповненого шприца-ручки, розробленого для лікування пацієнтів зі справжньою поліцитемією", редакція 1.0 від 19 лютого 2015 р.</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Детальний опис</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Це клінічне дослідженні III фази без контрольної групи, що проводиться у пацієнтів, які завершили AOP2014 групу у PROUD-PV дослідженні або на даний час беруть участь у CONTINUATION-PV дослідженні. Після підписання форми інформованої згоди (ICF), близько 30 пацієнтів будуть послідовно зараховані у дослідження на базі відповідних дослідницьких центрів згідно критеріям включення та виключенн</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Фаза</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">ІІІ</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Тип клінічного дослідження</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Інтервенційне дослідження</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td rowspan="4" style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Дизайн клінічного дослідження</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Класифікація кінцевих точок: Дослідження Безпеки та Ефективності</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Інтервенційна модель: Одна группа пацієнтів</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Маркування: Відкрите маркування</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Первинна мета: Лікування</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Мета клінічного дослідження</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Справжня поліцитемія (PV) - це захворювання стовбурових клітин кісткового мозку, що проявляється у різкому збільшенні еритроцитів і часто також лейкоцитів. "Згущення" крові у зв'язку зі зміненою функцією клітини має декілька наслідків, такі як: підвищення артеріального тиску, свербіж шкіри, стомлюваність, порушення кровообігу у головному мозку, а також пальців рук та ніг, підвищення ризику артеріальних та венозних тромбозів (тромбоз - це утворення згустку крові у судині), таких як інсульт, інфаркт міокарда, тромбоз глибоких вен на ногах. У разі сильного підвищення тромбоцитів існує додатковий ризик кровотеч. По мірі розвитку хвороби розміри печінки та селезінки збільшені в більшості випадків, також кістковий мозок показує ознаки фіброзу. У деяких випадках PV може відбуватися прогресування в більш пізній момент часу до лейкозу (посилене утворення білих кров'яних клітин).
Метою даного дослідження є оцінка зручності самостійного введення препарату AOP2014 за допомогою спеціальних опитувальників.
• Оцінити безпечність та переносимість: побічних явищ (AEs), лабораторних показників електрокардіограми (ЕКГ) протягом дослідження.
• Оцінити вміст параметрів ефективності крові НСТ (Гематокрит), WBCs (лейкоцити - білі клітини крові) і PLTs (тромбоцити), та розмір селезінки (порівняння показників на візиті Р7 відносно показників на візиті Р1).
• Оцінити вірогідність самостійного введення препарату AOP2014: визначити здатність пацієнтів використовувати шприц-ручку в якості інструменту для самостійного введення препарату (простота в обігу, безпека, переносимість та ефективність).</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td colspan="2" style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">
Досліджувані лікарські засоби, препарати порівняння, препарати супутньої терапії та супутні матеріали</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Перелік досліджуваних лікарських засобів: лікарська форма, дозування, виробник та країна</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">AOP2014 (PEG-P-IFNα-2b); 0,5 мг/мл, розчин для ін’єкцій, 0,5 мл у шприці-ручці; "Vetter Pharma-Fertigung GmbH & Co. KG", Німеччина; "AOP Orphan Pharmaceuticals AG", Австрія; «Theorem Clinical Research GmbH», Німеччина.</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Препарати порівняння, виробник та країна</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Не використовуються</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Супутні матеріали/препарати супутньої терапії</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Не використовуються</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td colspan="2" style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">
Хто може брати участь у клінічному випробуванні (критерії відбору)</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Вік</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">З 18 до 99 років</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Cтать</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Чоловік та жінка</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Залучення здорових добровольців</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Ні</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Критерії включення</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">1. Пацієнти, які або завершили 12 місячну групу лікування препаратом AOP2014 у PROUD-PV дослідженні , або на даний час беруть участь у CONTINUATION-PV дослідженні, та у "ВзТ візит" (Візит закінчення лікування) PROUD-PV дослідження або два тижні після останнього оціночного візиту CONTINUATION-PV дослідження, відповідають хоча б одному з таких критеріїв:
• Нормалізації як мінімум двох з трьох основних параметрів крові (НСТ (Гематокрит), PLTs (тромбоцити) і WBCs (лейкоцитів - білих клітин крові), якщо ці параметри були помірно підвищені (Hct<50%, WBCs<20 x 109/L, PLTs<600 x 109/L), на візиті включення PROUD-PV дослідження, або
• >35% зниження не менше двох з трьох основних параметрів крові (Hct, PLTs та WBCs), якщо ці параметри були істотно збільшені (Hct>50%, WBCs>20 x 109/L, PLTs >600 x 109/L), на візиті включення PROUD-PV дослідження, або
• Нормалізація розмірів селезінки, якщо селезінка була збільшена, на візиті включення PROUD-PV дослідження, або
• В інших випадках чіткої, клінічно перевіреної користі від лікування препаратом AOP2014 (наприклад, нормалізація захворювання, пов'язаного з мікро-vasculatory симптомів, значного зниження алельних навантажень гену JAK2 (Янус-киназа 2)).
2. Підписана інформована згода.</td>
                    </tr>
                    <tr style="background-color: #ffdf7e;">
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 30%;">Критерії виключення</td>
                        <td style="vertical-align: middle; text-align: left; border: 1px solid #399; width: 70%;">Критерії виключення, зазначені у PROUD-PV та у CONTINUATION-PV дослідженнях, які передбачають припинення лікування:
• Невідновлення від AOP2014-пов’язаною токсичністю для класу (як правило, клас I), яке дозволяє продовження лікування.
• HADS (Госпітальна шкала тривоги і депресії) результат 11 і вище на одній або обох підшкал, та /або розвитку або погіршення перебігу клінічно вираженої депресії або суїцидальних думок.
• Прогресивні та клінічно значущі підвищення рівня ферментів печінки, незважаючи на зниження дози, або якщо таке підвищення супроводжується підвищенням рівня білірубіну, будь-яких ознак або симптомів клінічно значущого аутоімунного захворювання.
• Клінічно значущій розвиток під час дослідження нової офтальмологічної патології або загострення раніше існуючої.
• Втрати ефективності препарату AOP2014 або будь-якої аналогічній ситуації, де дослідником не очікуються ніякі більше переваги продовження лікування.</td>
                    </tr>

                  </div>
          <div class="col-md-2"></div>
        </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>